@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(fira.ttf) format('truetype');
}

body {
	font-family: 'Fire Sans', sans-serif !important;
}